pubchempy
rdkit
seaborn
scipy
scikit-learn
tensorflow
torch
torchvision
torchaudio
torch-geometric
pyg_lib
torch-sparse
torch-scatter
torch-cluster
pandas
matplotlib
ipywidgets
h5py
networkx
numpy
tqdm
